services:
  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - digione
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s

  dicom-sorter:
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    #build: .
    image: ghcr.io/mdw-nl/dicom-listner:digione
    container_name: dicom-sorter
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "104:104"
      - "9000:9000"
    networks:
      - digione
    volumes:
      - ./associationdata:/dicomsorter/data
      - ./anonymization/recipes/:/dicomsorter/recipes/
      - ./DICOM_solver/Config/config.yaml:/dicomsorter/Config/config.yaml


  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # RabbitMQ connection
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    networks:
      - digione
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3


  #send_xnat:
  #    build:
  #      context: https://github.com/TomSinsel/send_xnat_data.git
  #      dockerfile: Dockerfile
  #    container_name: "send_xnat"
  #    environment:
  #      - RABBITMQ_HOST=${RABBITMQ_HOST}  # Service name of the RabbitMQ container
  #      - RABBITMQ_PORT=5672
  #      - RABBITMQ_USER=${RABBITMQ_USER}
  #      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
  #    restart: on-failure
  #    depends_on:
  #      - rabbitmq
  #    links:
  #      - rabbitmq
  #    volumes:
  #      - ./DICOM_solver/Config/config.yaml:/app/config.yaml  # Mount config.yaml into the container
  #      - ./data/anonymised_datasets:/app/anonimised_folder
  #      - ./data/xnat_listener:/app/data
  #      - ./DVH_data:/app/DVH_data
  #    networks:
  #      - digione

  xnat-web:
      image: ghcr.io/mdw-nl/mdw-xnat:1.9
      environment:
        XNAT_VERSION: ${XNAT_VERSION}
        XNAT_SMTP_ENABLED: ${XNAT_SMTP_ENABLED}
        XNAT_SMTP_HOSTNAME: ${XNAT_SMTP_HOSTNAME}
        XNAT_SMTP_PORT: ${XNAT_SMTP_PORT}
        XNAT_SMTP_AUTH: ${XNAT_SMTP_AUTH}
        XNAT_SMTP_USERNAME: ${XNAT_SMTP_USERNAME}
        XNAT_SMTP_PASSWORD: ${XNAT_SMTP_PASSWORD}
        XNAT_DATASOURCE_DRIVER: ${XNAT_DATASOURCE_DRIVER}
        XNAT_DATASOURCE_URL: ${XNAT_DATASOURCE_URL}
        XNAT_DATASOURCE_USERNAME: ${XNAT_DATASOURCE_USERNAME}
        XNAT_DATASOURCE_PASSWORD: ${XNAT_DATASOURCE_PASSWORD}
        TOMCAT_XNAT_FOLDER: ${TOMCAT_XNAT_FOLDER}
        XNAT_ROOT: ${XNAT_ROOT}
        XNAT_HOME: ${XNAT_HOME}
        XNAT_EMAIL: ${XNAT_EMAIL}
        CATALINA_OPTS: -Xms${XNAT_MIN_HEAP} -Xmx${XNAT_MAX_HEAP} -Dxnat.home=${XNAT_HOME}
      container_name: xnat-web
      ports:
        - 8080:8080
        - 8104:8104
      volumes:
        - ./xnat/plugins:${XNAT_HOME}/plugins
        - ./xnat-data/home/logs:${XNAT_HOME}/logs
        - ./xnat-data/archive:${XNAT_ROOT}/archive
        - ./xnat-data/build:${XNAT_ROOT}/build
        - ./xnat-data/cache:${XNAT_ROOT}/cache
        - /var/run/docker.sock:/var/run/docker.sock
        - ./XNAT_configure:/XNAT_conf/XNAT_configure
      depends_on:
        - xnat-db
      networks:
        - digione


  dvh_consumer:
    image: ghcr.io/mdw-nl/dvh_consumer:generalize_for_digione
    container_name: "dvh_consumer"
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}  # Service name of the RabbitMQ container
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - UPLOAD_DESTINATION=${UPLOAD_DESTINATION}

    restart: on-failure
    depends_on:
      - rabbitmq
      - postgres
    links:
      - rabbitmq
    volumes:
      - ./DVH_data:/app/DVH_data # Mount config.yaml into the container
      - ./DICOM_solver/Config/config.yaml:/DICOM_solver/DICOM_solver/Config/config.yaml  # Mount config.yaml into the container
      - ./associationdata:/dicomsorter/data

    networks:
      - digione
    command:
      - sh
      - -c
      - |
        /wait-for-postgres.sh dvh_db python -m DICOM_solver.PostrgresDVHdb && \
        python main.py

  xnat-db:
    image: postgres:${PG_VERSION}
    container_name: "xnat-db"
    expose:
      - "5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./postgres:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_PASSWORD=${XNAT_DATASOURCE_ADMIN_PASSWORD}
      - POSTGRES_DB=${XNAT_DATASOURCE_NAME}
      # variables for the sql script
      - XNAT_DATASOURCE_USERNAME=${XNAT_DATASOURCE_USERNAME}
      - XNAT_DATASOURCE_PASSWORD=${XNAT_DATASOURCE_PASSWORD}
    networks:
      - digione


  xnat-nginx:
    image: nginx:${NGINX_VERSION}
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    expose:
      - "80"
    depends_on:
      - xnat-web
    links:
      - xnat-web
    networks:
      - digione
networks:
  digione:
    driver: bridge